* {
    font-family: 'Avenir Next';
}
ul {
    list-style-type: none;
}
.logo span {
    color: red;
    font-size: 36px;
}
.logo {
    color: black;
    font-size: 36px;
}
.header {
  height: 50px;
  background-color: white;  
}
a {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

